#logo {
  font-family: 'Audiowide', cursive;
  font-size: 35px;
}

.logo {
  font-family: 'Audiowide', cursive;
}

.section-head {
  font-family: 'Audiowide', cursive;
  font-size: 20px;
}

.lnk {
  color: maroon;
}

.lnk:hover {
  color: black;
  cursor: pointer;
}